body {
  margin: 0px auto;
  color: white;
  display: grid;
}

/* Main image --------------------------------------------------- */

#pic {
  width: 100%;
  display: inline-block;
  height: 350px;
  background-color: rgb(110, 143, 229);
  text-align: center;  
  margin-top: 100px;
}

img {
  width: 300px;
  height: 300px;
}

/* Section  --------------------------------------------------- */
#section {
  width: 100%;
  height: 500px;
  background-color: rgb(241, 240, 240);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  /* 가로 가운데 */
  align-items: center;
  /* 세로 가운데 */
}

#section_area {
  /*  border: 1px solid black;*/
  width: 1280px;
  height: 500px;
  color: black;
  text-align: center;
}

#sectioncard {
  width: 33%;
  height: 500px;
  float: left;
  /*  border: 1px solid black;    */
}