body {
  margin: 0px auto;
  color: white;
  display: grid;
}

/* Main image --------------------------------------------------- */

#pic {
  width: 100%;
  display: inline-block;
  height: 350px;
  background-color: rgb(110, 143, 229);
  text-align: center;  
  margin-top: 100px;
}

img {
  width: 300px;
  height: 300px;
}

